.main-header{
    /* background: url('http://localhost:3000/images/slider-image.jpg'); */
    background-position:  center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: 802px;
}
